<div [formGroup]="formName">
  <div class="form-group col-md-4" [ngClass]="!editMode?'required':''">
    <div>
      <label class="control-label " translate="language"></label>
    </div>
    <div>
      <app-dropdown formControlName="locale" *ngIf="!editMode" (change)="changeLanguage()">
        <div class="item" [attr.data-value]="l" *ngFor="let l of languages">{{l | translate}}</div>
      </app-dropdown>
      <label style="font-weight: normal" *ngIf="editMode">{{customRfRI18N.locale | translate}}</label>
    </div>
    <div *ngIf="(formName.controls.locale.touched) && formName.controls.locale.errors">
      <span *ngIf="formName.controls.locale.invalid" class="msg-error" translate="languageRequired"></span>
    </div>
  </div>
  <div class="form-group col-md-4 required">
    <div>
      <label class="control-label" translate="reasonForRefund"></label>
    </div>
    <div>
      <input type="text" name="reasonForRefund" formControlName="reasonForRefund" class="form-control"/>
    </div>
    <div *ngIf="(formName.controls.reasonForRefund.touched) && formName.controls.reasonForRefund.errors">
      <span *ngIf="formName.controls.reasonForRefund.invalid" class="msg-error" translate="reasonForRefundRequired"></span>
    </div>
  </div>
  <div class="form-group col-md-4">
    <div>
      <label class="control-label " translate="hint"></label>
    </div>
    <div>
      <textarea name="hint" formControlName="hint" class="form-control col-md-5 " style="width: 100%"></textarea>
    </div>
    <div *ngIf="(formName.controls.hint.touched) && formName.controls.hint.errors">
      <span *ngIf="formName.controls.hint.invalid" class="msg-error" translate="hintInvalid"></span>
    </div>
  </div>
</div>
