<div [formGroup]="formName">
  <div class="form-group col-md-4 required">
    <div>
      <label class="control-label " translate="language"></label>
    </div>
    <div>
      <select name="language" class="form-control wuselect col-md-3" formControlName="locale" *ngIf="!editMode">
        <option value={{l}} *ngFor="let  l of languages ">{{l | translate}}</option>
      </select>
      <label class="control-label " *ngIf="editMode">{{customRfRI18N.locale | translate}}</label>
    </div>
    <div *ngIf="(formName.controls.locale.touched) && formName.controls.locale.errors">
      <div *ngIf="formName.controls.locale.invalid" class="alert alert-danger" translate="languageRequired"></div>
    </div>
  </div>
  <div class="form-group col-md-4 " [ngClass]="class">
    <div>
      <label class="control-label" [ngClass]="class" translate="reasonForRefund"></label>
    </div>
    <div>
      <input type="text" name="reasonForRefund" formControlName="reasonForRefund" class="form-control col-md-4 "/>
    </div>
    <div *ngIf="(formName.controls.reasonForRefund.touched) && formName.controls.reasonForRefund.errors">
      <div *ngIf="formName.controls.reasonForRefund.errors.requiredForDefaultLanguage" class="alert alert-danger" translate="reasonForRefundRequiredForDefaultLocale"></div>
    </div>
  </div>
  <div class="form-group col-md-4">
    <div>
      <label class="control-label " translate="hint"></label>
    </div>
    <div>
      <textarea name="hint" formControlName="hint" class="form-control col-md-5 " style="width: 100%"></textarea>
    </div>
    <div *ngIf="(formName.controls.hint.touched) && formName.controls.hint.errors">
      <div *ngIf="formName.controls.hint.invalid" class="alert-danger alert" translate="hintInvalid"></div>
    </div>
  </div>
</div>
