<div class="row">
<div class="col-md-4 form-group">
  <label class="control-label">Reason Code</label>
  <input type="text" name="reasonCode" class="form-control" [(ngModel)]="customRfRSetting.reasonCode" maxlength="40" required="true"/>
</div>
<div class="col-md-4 form-group">
  <label class="control-label">Sort order</label>
  <input type="text" name="sortOrder" [(ngModel)]="customRfRSetting.sortOrder" class="form-control" pattern="[0-9]"/>
</div>
<div class="col-md-4 form-group">
  <label class="control-label">No of documents</label>
  <input type="text" name="numOfDocument" [(ngModel)]="customRfRSetting.numOfDocument" class="form-control" pattern="[0-9]"/>
</div>
</div>
