<!--Check Boxes -->
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <div class="col-md-3">
        <mat-checkbox class="example-margin control-label" [(ngModel)]="customFieldsView.display">Displayed
        </mat-checkbox>
      </div>
      <div class="col-md-6">
        <mat-checkbox class="example-margin control-label" [(ngModel)]="customFieldsView.flowLayout">Can Display Side by
          Side
        </mat-checkbox>
      </div>
      <div class="col-md-3">
        <mat-checkbox class="example-margin control-label" [(ngModel)]="customFieldsView.mandatory"
                      [hidden]="this.customFieldsView.fieldType === 'CHECK_BOX' ">Mandatory
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
<!--Field Details -->
<div class="row">
  <div class="form-group col-md-12 ">
    <div class="form-group col-md-12">
      <label class="control-label" translate="description">Description</label>
    </div>
    <div class="form-group col-md-3" style="width:100%;">
      <input type="text" name="description" [(ngModel)]="customFieldsView.description" class="form-control col-md-9 "/>
    </div>
  </div>
  <div class="form-group col-md-4">
    <div class="form-group col-md-6">
      <div [hidden]="!showOnText()">
        <label class="control-label" translate="fieldType">Field Type</label>
      </div>
      <div>
        <app-dropdown [(ngModel)]="customFieldsView.fieldType">
          <div class="item" [attr.data-value]="fieldType"
               *ngFor="let fieldType of allFieldTypes |async">{{ fieldType | translate}}</div>
        </app-dropdown>
      </div>
    </div>
  </div>
  <div [hidden]="!showOnText()" class="form-group col-md-8 ">
    <div class="form-group col-md-4 " [hidden]="!showOnText()">
      <div [hidden]="!showOnText()">
        <label class="control-label" translate="minLength">Minimum Length</label>
      </div>
      <div [hidden]="!showOnText()">
        <input type="text" name="minLength" [(ngModel)]="customFieldsView.minLength" class="form-control col-md-4 "/>
      </div>
    </div>
  </div>
  <div [hidden]="!showOnText()" class="form-group col-md-8 ">
    <div class="form-group col-md-4 " [hidden]="!showOnText()">
      <div [hidden]="!showOnText()">
        <label class="control-label" translate="maxLength">Maximum Length</label>
      </div>
      <div [hidden]="!showOnText()">
        <input type="text" name="maxLength" [(ngModel)]="customFieldsView.maxLength" class="form-control col-md-4 "/>
      </div>
    </div>
  </div>
  <div [hidden]="!showOnText()">
    <div class="form-group col-md-6" [hidden]="!showOnText()">
      <div class="form-group col-md-6" [hidden]="!showOnText()">
        <label class="control-label" translate="validationExpression">Validation Expression</label>
        <app-dropdown [(ngModel)]="customFieldsView.validationExpression">
          <div class="item" [attr.data-value]="valExpr.id"
               *ngFor="let valExpr of validationExpressions |async">{{ valExpr.description | translate}}</div>
        </app-dropdown>
      </div>
    </div>
  </div>
</div>
<!--Label Text-->
<div class="row">
  <div class="form-group col-md-4">
    <div >
      <label class="control-label" translate="labelText">Label Text</label>
    </div>
    <div class="row" *ngIf="customFieldsView.labelText.length==0 || !showLabelI18Grid()" >
      <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                      disabled></textarea>
      </div>
      <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                      disabled></textarea>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" type="button" (click)="addLabelTextDefault()" translate="..."></button>
      </div>

    </div>

    <div *ngIf="showLabelI18Grid()">
      <div class="row" *ngFor="let labelText of customFieldsView.labelText">
        <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                        disabled>{{labelText.locale}}</textarea>
        </div>
        <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                        disabled>{{labelText.text}}</textarea>
        </div>
        <div class="col-md-4">
          <button class="btn btn-default" type="button" (click)="addLabelText()" *ngIf="ifDefault(labelText.locale)"
                  translate="..."></button>
        </div>
      </div>
    </div>
  <app-overlay name="addLabelTextOverlay" #addLabelTextOverlay header="addLabelText">
    <div *ngFor="let text of customFieldsView.labelText">
      <app-custom-fields-text [textElementView]="text"></app-custom-fields-text>
      <button class="btn btn-default" type="button" (click)="removeLabelText(text.locale)" translate="DELETE"></button>
    </div>
    <div>
      <button class="btn btn-default" type="button" (click)="additionalLabelText()" translate="ADD"></button>
      <button class="btn btn-default pull-right" type="button" (click)="closeAddLabelText(addLabelTextOverlay.name)"
              translate="OK"></button>
    </div>
  </app-overlay>
  </div>
</div>
<!--Error text-->
<div class="row">
  <div class="form-group col-md-4 ">
    <div>
      <label class="control-label" translate="errorText">Error Text</label>
    </div>

    <div class="row" *ngIf="customFieldsView.errorText.length==0 || !showErrorI18Grid()">
      <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                      disabled></textarea>
      </div>
      <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                      disabled></textarea>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" type="button" (click)="addErrorTextDefault()" translate="..."></button>
      </div>
    </div>
    <div *ngIf="showErrorI18Grid()">
      <div class="row" *ngFor="let errorText of customFieldsView.errorText">
        <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                        disabled>{{errorText.locale}}</textarea>
        </div>
        <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                        disabled>{{errorText.text}}</textarea>
        </div>
        <div class="col-md-4">
          <button class="btn btn-default" type="button" (click)="addErrorText()" *ngIf="ifDefault(errorText.locale)"
                  translate="..."></button>
        </div>
      </div>
    </div>
  </div>
  <app-overlay name="addErrorTextOverlay" #addErrorTextOverlay header="addErrorText">
    <div *ngFor="let text of customFieldsView.errorText">
      <app-custom-fields-text [textElementView]="text"></app-custom-fields-text>
      <button class="btn btn-default" type="button" (click)="removeErrorText(text.locale)" translate="DELETE"></button>
    </div>
    <div>
      <button class="btn btn-default" type="button" (click)="additionalErrorText()" translate="ADD"></button>
      <button class="btn btn-default pull-right" type="button" (click)="closeAddErrorText(addErrorTextOverlay.name)"
              translate="OK"></button>
    </div>
  </app-overlay>
</div>
<!--Help Text-->
<div class="row">
  <div class="form-group col-md-4 ">
    <div>
      <label class="control-label" translate="helpText">Help Text</label>
    </div>

    <div class="row" *ngIf="customFieldsView.helpText.length==0 || !showHelpI18Grid()">
      <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                      disabled></textarea>
      </div>
      <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                      disabled></textarea>
      </div>
      <div class="col-md-4">
        <button class="btn btn-default" type="button" (click)="addHelpTextDefault()" translate="..."></button>
      </div>

    </div>

    <div *ngIf="showHelpI18Grid()">
      <div class="row" *ngFor="let helpText of customFieldsView.helpText">
        <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                        disabled>{{helpText.locale}}</textarea>
        </div>
        <div class="col-md-4"><textarea class="form-control" style="resize: none; width:100%;" rows="1"
                                        disabled>{{helpText.text}}</textarea>
        </div>
        <div class="col-md-4">
          <button class="btn btn-default" type="button" (click)="addHelpText()" *ngIf="ifDefault(helpText.locale)"
                  translate="..."></button>
        </div>
      </div>
    </div>
  </div>
  <app-overlay name="addHelpTextOverlay" #addHelpTextOverlay header="addHelpText">
    <div  *ngFor="let text of customFieldsView.helpText">
      <app-custom-fields-text [textElementView]="text"></app-custom-fields-text>
      <button class="btn btn-default" type="button" (click)="removeHelpText(text.locale)" translate="DELETE"></button>
    </div>
    <div>
      <button class="btn btn-default" type="button" (click)="additionalHelpText()" translate="ADD"></button>
      <button class="btn btn-default pull-right" type="button" (click)="closeAddHelpText(addHelpTextOverlay.name)"
              translate="OK"></button>
    </div>
  </app-overlay>
</div>
<app-operation-buttons (onCancel)="onCancel()" (onSave)="onSave()"></app-operation-buttons>
