<div class="row">
    <div class="col-md-12">
        <mat-checkbox class="example-margin control-label" [(ngModel)]="refundHandling.directRejectionCard"> {{ 'refundHandling_enableDirectRej' | translate }}</mat-checkbox>
    </div>
    <div class="col-md-12">
        <mat-checkbox class="example-margin control-label" [(ngModel)]="refundHandling.directRejectionNonCard">{{ 'refundHandling_enableNoDirectRejCard' | translate }}</mat-checkbox>
    </div>
    <div class="col-md-12">
            <mat-checkbox class="example-margin control-label" [(ngModel)]="refundHandling.nonDirectRejection">{{'refundHandling_enableNoDirectRej' | translate  }}</mat-checkbox>
        </div>
</div>
<div [hidden]="refundHandling.directRejectionNonCard == false">
  <div class="row">
    <hr/>
    <div class="col-md-3">
      <label class="control-label pull-right">{{'paymentTypeLabel' | translate }}</label>
    </div>
    <div class="col-md-2">
      <select class="wuselect form-control" (change)="onChange(selectedData)" [(ngModel)]="selectedData.paymentTypeId">
        <option value={{paymentType.key}} *ngFor="let paymentType of pymntTypeCurrMap | async | keyvalue">
          {{ paymentType.key }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label class="control-label pull-right">{{'currency' | translate }}</label>
    </div>
    <div class="col-md-2">
      <select class="wuselect form-control" [(ngModel)]="selectedData.currency" [disabled]="!selectedData.paymentTypeId">
        <option value={{currency}} *ngFor="let currency of (pymntTypeCurrMap | async)[selectedData.paymentTypeId]">
          {{ currency }}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary pull-right" [disabled]="!selectedData.currency" (click)="addPymntTypeAndCurr(selectedData)">{{'add' | translate }}</button>
    </div>
  </div>
  <div class="row">
    <div class="pt20">
      <app-data-table [Columns]="colDefinitions" [Data]="data" [(PageSettings)]="pageSettings"></app-data-table>
    </div>
  </div>
</div>

<app-operation-buttons (onCancel)="onCancel()" (onSave)="onSave($event)"></app-operation-buttons>
