<div class="row form-group" *ngIf="isStandardRfREnabled">
  <div class='col-md-12'>
    <h5 class='subHeader' translate="rfrStandard"></h5>
  </div>
  <div class="col-md-12">
    <button class="btn btn-default pull-right" (click)="toggleRfR()" type="button" translate="maintainCustomRfr"></button>
  </div>
</div>
<div class="row form-group" *ngIf="!isStandardRfREnabled">
  <div class='col-md-12'>
    <h5 class='subHeader' translate="rfrCustom"></h5>
  </div>
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-default" (click)="addCustomRfR()" type="button" translate="addCustomRfr"></button>
      <button class="btn btn-default" (click)="toggleRfR()" type="button" translate="maintainStandardRfr"></button>
    </div>
  </div>

</div>
<app-confirmation-box [confirmationAction]="confirmationAction" #confirmationBox></app-confirmation-box>
<app-overlay name="addCustomRfROverlay" #addCustomRfROverlay header="addCustomRfR" (load)="errorMessage=null">
  <form [formGroup]="addCustomRfRForm">
    <span class="msg-error" *ngIf="errorMessage">
      {{errorMessage | translate}}
    </span>
    <div class="row">
      <app-refund-reason-setting [customRfRSetting]="customRfR" [formName]="addCustomRfRForm.get('refundSetting')"></app-refund-reason-setting>
    </div>
    <div class="row" *ngFor="let i18n of customRfR.reasonForRefundList;let i18nIndex=index">
      <div class="col-md-11 row">
        <app-refund-reason-language [formName]="i18nForm(i18nIndex,true)" [languages]="languagesList" [customRfRI18N]="i18n"
                                    (changeLanguageEvent)="changeLanguage()"></app-refund-reason-language>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary" (click)="addLanguage(false)" style="
    padding-top: 9px;" [disabled]="languagesList.length==0">
          +
        </button>
      </div>
    </div>
    <div>
      <app-operation-buttons (onSave)="saveCustomRfRSettings()" (onCancel)="closeAddCustomOverlay(addCustomRfROverlay.name)"></app-operation-buttons>
    </div>
  </form>
</app-overlay>
<app-overlay name="addNewLanguageOverlay" #addNewLanguageOverlay header="addLanguage" (load)="errorMessage=null">
  <form [formGroup]="addLanguageForm">
    <span class="msg-error" *ngIf="errorMessage">
      {{errorMessage | translate}}
    </span>
    <div class="row" *ngFor="let i18n of customRfR.reasonForRefundList;let i18nIndex=index">
      <div class="col-md-11 row">
        <app-refund-reason-language (changeLanguageEvent)="changeAddNewLanguage()" [formName]="i18nForm(i18nIndex,false)" addNewLanguage="true"
                                    [languages]="addNewLanguagesList"
                                    [customRfRI18N]="i18n"></app-refund-reason-language>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary" (click)="addLanguage(true)" style="
    padding-top: 9px;" [disabled]="addNewLanguagesList.length==0">
          +
        </button>
      </div>
    </div>
    <div>
      <app-operation-buttons (onSave)="addNewLanguages()" (onCancel)="closeLanguageOverlay(addNewLanguageOverlay.name)"></app-operation-buttons>
    </div>
  </form>
</app-overlay>
<div class="well">
  <h5>ReasonCode</h5>
  <app-data-table
    [(ExpansionSettings)]="reasonCodeExpansionSettings"
    [CollapseOnRender]="false"
    [Columns]="reasonCodeColDef"
    [Data]="reasonCodes"
    [(PageSettings)]="reasonCodePageSettings"></app-data-table>
</div>
<div class="well">
  <h5>ReasonCodei18n</h5>
  <app-data-table
    [(ExpansionSettings)]="reasonCodeI18ExpansionSettings"
    [CollapseOnRender]="false"
    [Columns]="reasonCodeI18NColDef"
    [Data]="reasonCodesI18N"
    [(PageSettings)]="reasonCodeI18NPageSettings"></app-data-table>
</div>
