<div class="row form-group" *ngIf="isStandardRfREnabled">
  <div class="col-md-6">
    <h5 class='subHeader' translate="rfrStandard"></h5>
  </div>
  <div class="col-md-6">
    <button class="btn btn-default pull-right" (click)="toggleRfR()" type="button" translate="maintainCustomRfr"></button>
  </div>
</div>
<div class="row form-group" *ngIf="!isStandardRfREnabled">
  <div class="col-md-6">
    <h5 class='subHeader' translate="rfrCustom"></h5>
  </div>
  <div class="col-md-3">
    <button class="btn btn-default pull-right" (click)="addCustomRfR()" type="button" translate="addCustomRfr"></button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-default pull-right" (click)="toggleRfR()" type="button" translate="maintainStandardRfr"></button>
  </div>

</div>
<app-confirmation-box [confirmationAction]="confirmationAction" #confirmationBox></app-confirmation-box>
<app-overlay name="addCustomRfROverlay" #addCustomRfROverlay header="addCustomRfR" (load)="errorMessage=null">
  <form [formGroup]="addCustomRfRForm">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage | translate}}
    </div>
    <div class="row">
      <app-refund-reason-setting [customRfRSetting]="customRfR" [formName]="addCustomRfRForm.get('refundSetting')"></app-refund-reason-setting>
    </div>
    <div class="row" *ngFor="let i18n of customRfR.reasonForRefundList;let i18nIndex=index">
      <div class="col-md-11 row">
        <app-refund-reason-language [formName]="i18nForm(i18nIndex,true)" [languages]="languages" [customRfRI18N]="i18n"></app-refund-reason-language>
      </div>
      <div class="col-md-1">
        <app-action-menu [buttons]="actionButtons"></app-action-menu>
      </div>
    </div>
    <div>
      <app-operation-buttons (onSave)="saveCustomRfRSettings()" (onCancel)="closeAddCustomOverlay(addCustomRfROverlay.name)"></app-operation-buttons>
    </div>
  </form>
</app-overlay>
<app-overlay name="addNewLanguageOverlay" #addNewLanguageOverlay header="addLanguage" (load)="errorMessage=null">
  <form [formGroup]="addLanguageForm">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage | translate}}
    </div>
    <div class="row" *ngFor="let i18n of customRfR.reasonForRefundList;let i18nIndex=index">
      <div class="col-md-11 row">
        <app-refund-reason-language [formName]="i18nForm(i18nIndex,false)" addNewLanguage="true" [languages]="languagesList" [customRfRI18N]="i18n"></app-refund-reason-language>
      </div>
      <div class="col-md-1">
        <app-action-menu [buttons]="actionButtons"></app-action-menu>
      </div>
    </div>
    <div>
      <app-operation-buttons (onSave)="addNewLanguages()" (onCancel)="closeLanguageOverlay(addNewLanguageOverlay.name)"></app-operation-buttons>
    </div>
  </form>
</app-overlay>
<div>
  <app-data-table
    [(ExpansionSettings)]="reasonCodeExpansionSettings"
    [Columns]="reasonCodeColDef"
    [Data]="reasonCodes"
    [(PageSettings)]="reasonCodePageSettings"></app-data-table>
</div>
<div>
  <app-data-table
    [(ExpansionSettings)]="reasonCodeI18ExpansionSettings"
    [Columns]="reasonCodeI18NColDef"
    [Data]="reasonCodesI18N"
    [(PageSettings)]="reasonCodeI18NPageSettings"></app-data-table>
</div>
