<div class="panel panel-default">
    <div class="panel-heading" role="button" data-toggle="collapse" href="#findClientPanel">Find Client <span class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span> </div>
    <div id="findClientPanel" class="panel-body collapse in">
        <form #search = "ngForm" class="form-horizontal" (ngSubmit)="onSearch()" novalidate autocomplete="off">
            <div class="form-group">
                <div class="col-md-6">
                <input type="text" class="form-control" name="clientName" id="clientName" placeholder="Search" [(ngModel)]="searchName">
                </div>
                <div class="col-md-6">
                <button type="submit" class="btn btn-primary pull-right">SEARCH</button>
                </div>
            </div>
        </form>
        <app-data-table [Columns]="colDefinitions" [Data]="data" [(PageSettings)]="pageSettings"></app-data-table>
    </div>
</div>

<div [hidden]="clientId == null">
    <div class="row">
        <div class="col-xs-12" style="text-align: center"><h4>Editing: {{clientName}}</h4></div>
    </div>
    <ul class="nav nav-pills">
        <li routerLinkActive="active" ><a routerLink ="/refunds/admin/clientSettings">Client Settings</a></li>
        <li routerLinkActive="active"><a routerLink="/refunds/admin/directRejectionRequest">Refund Request Settings</a></li>
    </ul>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>

