<router-outlet></router-outlet>
<div class="form-group" style="height: 200px; width: 200px;">
  <app-dropdown placeholder="Hello">
    <div class="item" data-value="ACTIVE">Active</div>
    <div class="item" data-value="BLOCKED">Blocked</div>
  </app-dropdown>
</div>
<!--Example of using *ngFor for values-->
<!--<div class="form-group" style="height: 200px; width: 200px;">-->
<!--  <app-dropdown placeholder="Hello">-->
<!--    <div class="item" [attr.data-value]="obj.id" *ngFor="let obj of objects">{{obj.name}}</div>-->
<!--  </app-dropdown>-->
<!--</div>-->
