.wuselect {
    background: #fff url(images/vline.png) right no-repeat;
    webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px !important
}

select.wuselect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '...'
}

.ieselect {
    background: #fff url(images/vline.png) right no-repeat;
    webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px !important
}

select.ieselect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '...'
}

select::-ms-expand {
    display: none
}

/* 008_1 */
thead, thead tr{
    background-color: #f0f0f0 !important;
    color:#333333;
}

/* 008_2 */
.gpfi-detail-html thead tr,
tfoot, tfoot tr  {
    background-color:#f0f0f0 !important;
    color:#333333;
}
/* 008_3 */
tbody td{
    color: #333333;
}
table tr:not(.child){
    background-color:#FFFFFF;
}
/* 008_4 */
tbody tr:not(.child):nth-child(even){
    background: #FFFFFF;
}
tbody tr:not(.child):nth-child(even) td{
    color:#333333;
}