.wuselect {
    background: #fff url(images/vline.png) right no-repeat;
    webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px !important
}

select.wuselect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '...'
}

.ieselect {
    background: #fff url(images/vline.png) right no-repeat;
    webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075);
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px !important
}

select.ieselect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '...'
}

select::-ms-expand {
    display: none
}

/* 008_1 */
thead, thead tr{
    background-color: #f0f0f0 !important;
    color:#333333;
}

/* 008_2 */
.gpfi-detail-html thead tr,
tfoot, tfoot tr  {
    background-color:#f0f0f0 !important;
    color:#333333;
}
/* 008_3 */
tbody td{
    color: #333333;
}
table tr:not(.child){
    background-color:#FFFFFF;
}
/* 008_4 */
tbody tr:not(.child):nth-child(even){
    background: #FFFFFF;
}
tbody tr:not(.child):nth-child(even) td{
    color:#333333;
}


.down-arrow {
    background-image: none;
    background: #f8f8f8;
    padding-left: 30px
}

.down-arrow:before{
    content: "\e900";
    position: relative;
    left: -14px;
    top: 2px;
    font-family: 'chevrons-up';
    font-size:10px;
}
.gpfiExpand {
    width: 35px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.btn.collapsed:before {
    content: "\e900";
    position: relative;
    left: -14px;
    top: 2px;
    font-family: 'chevrons-down' !important;
}
.gpfiExpand.collapsed:before {
    position: static;
    margin-left: -3.5px;
}
/* 007_4 */
.down-arrow:focus,
.down-arrow,
.down-arrow.collapsed,
.down-arrow:hover{
    background-color: #f8f8f8;
    color:#bcbdbe;
}