<div>
  <app-refund-reason-language [formName]="i18nForm" [customRfRI18N]="data" [editMode]="true"></app-refund-reason-language>
  <div class="row">
    <div class="col-md-10">
      <button class="btn btn-default pull-left" (click)="onCancel()" type="button" translate="cancel"></button>
    </div>

    <div class="col-md-1 ">
      <button class="btn btn-default pull-right" (click)="onResetToStandard($event)" *ngIf="isStandardRfREnabled" type="button"
              translate="resetToStandard"></button>
    </div>
    <div class="col-md-1 ">
      <button class="btn btn-primary pull-right" (click)="onSave($event)" type="button" translate="save"></button>
    </div>
  </div>
</div>


