<form #search = "ngForm" class="form-horizontal" novalidate autocomplete="off">
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" class="form-control" name="search" id="search" placeholder="Search" ngModel>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="30px">Id</th>
      <th width="120px">Transaction Id</th>
      <th width="90px">Client Id</th>
      <th>Reason</th>
      <th width="120">Pledge Date</th>
      <th width="120">Created Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let refund of refunds">
      <td>{{refund.id}}</td>
      <td>{{refund.transactionId}}</td>
      <td>{{refund.clientId}}</td>
      <td>{{refund.refundReason}}</td>
      <td>{{refund.transactionPledgeDate}}</td>
      <td>{{refund.createdDate}}</td>
    </tr>
  </tbody>
</table>
