<div class="row form-group" *ngIf="isStandardRfREnabled">
  <div class="col-md-6">
    <h5>Current 'Reason for Refund' is standard</h5>
  </div>
  <div class="col-md-6">
    <button class="btn btn-default pull-right" (click)="toggleRfR()" type="button">Maintain custom refund reason</button>
  </div>
</div>
<div class="row form-group" *ngIf="!isStandardRfREnabled">
  <div class="col-md-9">
    <h5>Current 'Reason for Refund' is custom</h5>
  </div>
  <div class="col-md-3 pull-right">
    <div class="col-md-6">
      <button class="btn btn-default " (click)="addCustomRfR()" type="button">Add custom refund reason</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-default " (click)="toggleRfR()" type="button">Maintain standard refund reason</button>
    </div>
  </div>
</div>
<div>
  <app-data-table
    [expandEvent]="expandReasonCodeEvent"
    [collapseEvent]="collapseReasonCodeEvent"
    [detailRow]="true"
    [detailRowCallback]="expandReasonCode()"
    [Columns]="reasonCodeColDef"
    [Data]="reasonCodes"
    [(PageSettings)]="reasonCodePageSettings"></app-data-table>
</div>
<div>
  <app-data-table
    [expandEvent]="expandReasonCodeI18NEvent"
    [detailRowCallback]="expandReasonCodeI18N()"
    [detailRow]="true"
    [Columns]="reasonCodeI18NColDef"
    [Data]="reasonCodesI18N"
    [(PageSettings)]="reasonCodeI18NPageSettings"
    [collapseEvent]="collapseReasonCodeI18NEvent"></app-data-table>
</div>
