/* You can add global styles to this file, and also import other style files */
@import "~bootstrap3/dist/css/bootstrap.css";
@import "legacy_assets/legacy.css";
body {
  overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
