<div class="row">
  <div class="form-group" >
        <div class="col-md-3">
            <label>Refund request informational text</label>
        </div>
        <div class="col-md-6"><textarea style="resize: none; width:100%;"  rows="4"></textarea></div>
    </div>
</div>

<h5>Field Handling</h5>
<div class="row">
    <div class="form-group" >
        <div class="col-md-3">
            <label>Pledge Reference</label>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio" name="pledgeReferencDisplayStatus"> Hidden</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio" name="pledgeReferencDisplayStatus"> Displayed</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio" name="pledgeReferenceMandatory"> Optional</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio" name="pledgeReferenceMandatory"> Mandatory</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group" >
        <div class="col-md-3">
            <label>Requested refund amount</label>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio"> Hidden</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio"> Displayed</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio"> Optional</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio"> Mandatory</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group" >
        <div class="col-md-3">
            <label>Reason for refund</label>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio"> Hidden</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio"> Displayed</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio"> Optional</label>
            </div>
            <div class="col-md-3">
                <label class="radio-inline"><input type="radio"> Mandatory</label>
            </div>
        </div>
    </div>
</div>

<app-operation-buttons></app-operation-buttons>